/* ALL COMMON PART STYLE */
@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600;700;800;900&display=swap");

:root {
  --h1size: 50px;
  --h2size: 40px;
  --h3size: 24px;
  --h4size: 20px;
  --h5size: 18px;
  --h6size: 16px;
  --bodysize: 16px;
  --h1height: 58px;
  --h2height: 48px;
  --h3height: 32px;
  --h4height: 28px;
  --h5height: 26px;
  --h6height: 26px;
  --bodyheight: 26px;
  --pfamily: 'Rubik', sans-serif;
  --red: #119744;
  --gray: #777777;
  --text: #282828;
  --blue: #1494a9;
  --white: #ffffff;
  --chalk: #f5f5f5;
  --green: #11b76b;
  --purple: #b12fad;
  --orange: #e86121;
  --yellow: #ffab10;
  --body: #f5f6f7;
  --border: #e8e8e8;
  --heading: #39404a;
  --primary: #19274c;
  --primary-bshadow: 0px 15px 35px 0px rgba(0, 0, 0, 0.1);
  --primary-tshadow: 2px 3px 8px rgba(0, 0, 0, 0.1);
}

* {
  margin: 0px;
  padding: 0px;
  outline: 0px;
}

img {
  vertical-align: middle;
}

a {
  text-decoration: none;
  display: inline-block;
}

a:hover {
  text-decoration: none;
}

ul,
ol {
  padding: 0px;
  list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul,
li,
span,
label {
  margin-bottom: 0px;
}

html,
body {
  scroll-behavior: smooth;
}

body {
  height: 5000px;
  font-family: DINNextLTW23, sans-serif;
  font-weight: normal;
  font-style: normal;
  background-color: #f8f8f8;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 500;
  color: var(--heading);
}

h1 {
  font-size: var(--h1size);
  line-height: var(--h1height);
}

h2 {
  font-size: var(--h2size);
  line-height: var(--h2height);
  letter-spacing: -0.3px;
  text-transform: capitalize;
}

h3 {
  font-size: var(--h3size);
  line-height: var(--h3height);
}

h4 {
  font-size: var(--h4size);
  line-height: var(--h4height);
}

h5 {
  font-size: var(--h5size);
  line-height: var(--h5height);
}

h6 {
  font-size: var(--h6size);
  line-height: var(--h6height);
}

input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
  font-size: 14px;
  color: var(--gray);
  text-transform: capitalize;
}

input:-ms-input-placeholder,
textarea:-ms-input-placeholder {
  font-size: 14px;
  color: var(--gray);
  text-transform: capitalize;
}

input::-ms-input-placeholder,
textarea::-ms-input-placeholder {
  font-size: 14px;
  color: var(--gray);
  text-transform: capitalize;
}

input::placeholder,
textarea::placeholder {
  font-size: 14px;
  color: var(--gray);
  text-transform: capitalize;
}

input,
button {
  border: none;
  outline: none;
  background: none;
}

button:focus {
  outline: none;
}

/*========================================
        START header STYLE
=========================================*/
/******* header top START *******/
.header-top {
  margin: 0;
  padding: 5px;
  border-radius: 0;
  position: relative;
  text-align: center;
  background: var(--primary);
}

.header-top p {
  font-size: 15px;
  color: var(--white);
}

.header-top p a {
  font-size: 12px;
  padding: 0px 12px;
  margin-right: 10px;
  text-transform: uppercase;
  background: var(--white);
  color: var(--primary);
  transition: all linear .3s;
}

.header-top p a:hover {
  color: var(--white);
  background: var(--primary);
}

.header-top button {
  position: absolute;
  top: 50%;
  left: 30px;
  transform: translateY(-50%);
}

.header-top button i {
  width: 25px;
  height: 25px;
  font-size: 12px;
  line-height: 24px;
  border-radius: 50%;
  text-align: center;
  display: inline-block;
  color: var(--white);
  background: gold;
}

@media (max-width: 575px) {
  .header-top p a {
    width: 120px;
    display: block;
    margin: 2px auto 5px;
  }

  .header-top button {
    left: 15px;
  }
}

/******* HEADER top End *******/

/******* HEADER PART START *******/
.header-part {
  background: var(--white);
  transition: all linear .3s;
}

.header-part.active {
  position: sticky;
  top: 0px;
  left: 0px;
  width: 100%;
  z-index: 3;
  background: var(--white);
  box-shadow: 0px 5px 15px 0px rgba(0, 0, 0, 0.15);
  transition: all linear .3s;
}

.header-part.active .header-content {
  padding: 10px 0px;
}

.header-content {
  padding: 10px 0px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all linear .3s;
}

/****** اولا في شاشه الموبيل ******/
.header-media-group {
  display: none;
  -ms-flex-align: center;
  align-items: center;
  justify-content: space-between;
}

.header-media-group a img {
  width: auto;
  height: 45px;
}

.header-user img,
.header-src img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.header-user i,
.header-src i {
  width: 40px;
  height: 40px;
  font-size: 15px;
  line-height: 40px;
  text-align: center;
  display: inline-block;
  border-radius: 50%;
  color: var(--text);
  background: var(--chalk);
  transition: all linear .3s;
}

.header-user i:hover,
.header-src i:hover {
  color: var(--white);
  background: var(--primary);
}

/***** ثانيا ف الشاشات الكبيره *****/
.header-logo img {
  width: auto;
  height: 60px;
  transition: all linear .3s;
}

.header-widget-group {
  display: flex;
  align-items: center;
  justify-content: center;
}

.header-widget {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 20px;
}

.header-widget i {
  margin-left: 10px;
  font-size: 15px;
  font-weight: bold;
  text-align: center;
  display: inline-block;
  color: var(--text);
  transition: all linear .3s;
}

.header-widget span {
  margin-left: 10px;
  font-size: 15px;
  font-weight: bold;
  white-space: nowrap;
  text-align: center;
  text-transform: capitalize;
  color: var(--heading);
  transition: all linear .3s;
}

.header-widget:hover i {
  color: var(--primary);
  text-shadow: var(--primary-tshadow);
}

.header-widget:hover span {
  cursor: pointer;
  color: var(--primary);
}

.dropdown:hover .dropdown-position-list {
  visibility: visible;
  opacity: 1;
  top: 40px;
}

.dropdown-position-list {
  text-align: center;
  justify-content: center;
  position: absolute;
  top: 100px;
  right: 0px;
  z-index: 2;
  width: 200px;
  height: auto;
  visibility: hidden;
  opacity: 0;
  padding: 10px 0;
  border-radius: 8px;
  background: var(--white);
  border: 1px solid var(--border);
  box-shadow: 0px 15px 35px 0px rgba(0, 0, 0, 0.1);
  transition: all linear .3s;
}

.dropdown-position-list p {
  color: wheat;
  padding: 15px 5px;
  border-bottom: 1px solid #ededed;
}

.dropdown-position-list p a {
  color: wheat;
  width: 90%;
  padding: 5px;
  border-radius: 5px;
  background-color: var(--primary);
}


.dropdown-position-list li a {
  text-align: start;
  justify-content: start;
  width: 100%;
  font-size: 15px;
  padding: 8px 15px;
  color: var(--text);
  background: var(--white);
  white-space: nowrap;
  text-transform: capitalize;
  transition: all linear .3s;
}

.dropdown-position-list li a:hover {
  color: var(--primary);
  background: var(--chalk);
}

.dropdown-position-list li a i {
  margin-left: 5px;
}

.header-part.active .header-form {
  background: var(--white);
  border-color: var(--primary);
}

.header-form {
  width: 100%;
  margin: 0px 50px;
  border-radius: 8px;
  background: var(--chalk);
  border: 2px solid var(--chalk);
  display: flex;
  align-items: center;
  justify-content: space-between;
  transition: all linear .3s;
}

.header-form:focus {
  background: var(--white);
  border-color: var(--primary);
}

.header-form input {
  width: 100%;
  height: 45px;
  font-size: 15px;
  padding-right: 15px;
  text-align: end;
}

.header-form button i {
  width: 45px;
  height: 45px;
  font-size: 15px;
  line-height: 45px;
  text-align: center;
  border-radius: 8px;
  color: var(--text);
  display: inline-block;
  transition: all linear .3s;
}

.header-form button i:hover {
  color: var(--primary);
}

.header-media-group {
  display: none;
  align-items: center;
  justify-content: space-between;
}

.header-media-group a img {
  width: auto;
  height: 45px;
}

.header-user img,
.header-src img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.header-form:focus-within {
  background: var(--white);
  border-color: var(--primary);
}

.header-form input {
  direction: ltr;
  width: 100%;
  height: 45px;
  font-size: 15px;
  padding-right: 15px;
}

.header-form button i {
  width: 45px;
  height: 45px;
  font-size: 15px;
  line-height: 45px;
  text-align: center;
  border-radius: 8px;
  color: var(--text);
  display: inline-block;
  transition: all linear .3s;
}

.header-form button i:hover {
  color: var(--primary);
}

@media (max-width: 991px) {
  .header-content {
    padding: 10px 0px;
    flex-direction: column;
  }

  .header-media-group {
    width: 100%;
    display: flex;
  }

  .header-widget-group,
  .header-widget,
  .header-logo {
    display: none;
  }

  .header-form {
    display: none;
    margin: 10px 0px 0px;
  }

  .header-form.active {
    display: flex;
  }
}

@media (min-width: 992px) and (max-width: 1199px) {
  .header-widget span {
    display: none;
  }
}

/******* HEADER PART End *******/

/******* NAVBAR PART START الهيدر اللي من تحت *******/
.navbar-part {
  background: var(--white);
}

.navbar-content {
  border-top: 1px solid var(--border);
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navbar-list {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.navbar-item {
  margin-left: 30px;
}

.navbar-item:last-child {
  margin-left: 0px;
}

.navbar-link {
  padding: 22px 0px;
  font-weight: 500;
  color: var(--text);
  text-transform: capitalize;
  transition: all linear .3s;
}

.navbar-link:hover {
  color: var(--primary);
}

@media (max-width: 991px) {
  .navbar-part {
    display: none;
  }
}

@media (min-width: 992px) and (max-width: 1199px) {
  .navbar-list li {
    margin-left: 18px;
  }

  .navbar-link {
    font-size: 15px;
  }

  .navbar-info {
    margin-left: 15px;
  }

  .navbar-info p span {
    font-size: 14px;
  }

  .navbar-info i {
    margin-left: 10px;
  }
}

/******* NAVBAR PART End الهيدر اللي من تحت *******/

/******* NAV SIDEBAR PART موبيل START *******/
.nav-sidebar {
  position: fixed;
  top: 0px;
  left: -320px;
  width: 280px;
  height: 100vh;
  padding: 0px;
  z-index: 5;
  background: var(--white);
  box-shadow: 15px 0px 25px 0px rgba(0, 0, 0, 0.15);
  transition: all linear .3s;
}

.nav-sidebar.active {
  left: 0px;
}

.nav-header {
  padding: 15px 0px;
  position: relative;
  text-align: center;
  border-bottom: 1px solid var(--border);
}

.nav-header a img {
  width: auto;
  height: 40px;
}

.nav-close {
  position: absolute;
  top: 50%;
  right: -18px;
  transform: translateY(-50%);
}

.nav-close i {
  width: 35px;
  height: 35px;
  font-size: 18px;
  line-height: 35px;
  border-radius: 50%;
  text-align: center;
  display: inline-block;
  color: var(--text);
  background: var(--white);
  text-shadow: var(--primary-tshadow);
  transition: all linear .3s;
}

.nav-close i:hover {
  color: var(--white);
  background: var(--primary);
}

.nav-content {
  padding: 0px 18px;
  overflow-y: scroll;
  max-height: calc(100vh - 100px);
}

.nav-list {
  width: 100%;
}

.nav-list li {
  width: 100%;
}

.nav-link {
  width: 100%;
  font-weight: 500;
  padding: 12px 15px;
  border-radius: 8px;
  color: var(--text);
  text-transform: capitalize;
  transition: all linear .3s;
}

.nav-link:hover {
  color: var(--primary);
  background: var(--chalk);
}

.nav-link::before {
  right: 15px;
}

.nav-link i {
  font-size: 20px;
  margin-right: 12px;
}

.nav-link.active {
  color: var(--primary);
  background: var(--green-chalk);
}

.nav-pills .nav-link {
  font-weight: 400;
  list-style: decimal;
}

.nav-pills .nav-link.active {
  color: var(--primary);
  background: transparent;
}

.dropdown-link {
  position: relative;
  transition: all linear .3s;
}

.dropdown-link:hover {
  color: var(--primary);
  background: var(--chalk);
}

.dropdown-link:hover::before {
  color: var(--primary);
}

.dropdown-link::before {
  position: absolute;
  top: 50%;
  left: 18px;
  content: "\f054";
  font-size: 10px;
  font-weight: 900;
  font-family: "Font Awesome 5 Free";
  transform: translateY(-50%);
  transition: all linear .3s;
}

.dropdown-link.active {
  color: var(--primary);
}

.dropdown-link.active::before {
  color: var(--primary);
  transform: translateY(-50%) rotate(90deg);
}


.dropdown-list {
  display: none;
  padding: 0px 20px;
  transition: all linear .3s;
}

.dropdown-list li a {
  width: 100%;
  font-size: 15px;
  line-height: 18px;
  border-radius: 8px;
  padding: 10px 35px 10px 15px;
  color: var(--text);
  background: var(--white);
  position: relative;
  white-space: nowrap;
  text-transform: capitalize;
  transition: all linear .3s;
}

.dropdown-list li a:hover {
  color: var(--primary);
  background: var(--chalk);
}

.dropdown-list li a::before {
  position: absolute;
  top: 50%;
  right: 15px;
  content: "\f068";
  font-size: 10px;
  font-weight: 900;
  font-family: "Font Awesome 5 Free";
  transform: translateY(-50%);
}

/******* NAV SIDEBAR PART موبيل End *******/

/******* CART SIDEBAR PART END  البوبب اللي بتظهر من الجنب *******/
.cart-sidebar {
  position: fixed;
  top: 0px;
  left: -450px;
  width: 400px;
  height: 100vh;
  z-index: 5;
  background: var(--white);
  box-shadow: -15px 0px 25px 0px rgba(0, 0, 0, 0.15);
  transition: all linear .3s;
}

.cart-sidebar.active {
  left: 0px;
}

.cart-header {
  padding: 18px 25px;
  text-align: center;
  position: relative;
  border-bottom: 1px solid var(--border);
}

.cart-total {
  display: flex;
  align-items: center;
  justify-content: center;
}

.cart-total i {
  font-size: 20px;
  margin-right: 8px;
  color: var(--primary);
}

.cart-total span {
  font-weight: 500;
  color: var(--primary);
  text-transform: capitalize;
}

.cart-close {
  position: absolute;
  top: 50%;
  right: -18px;
  transform: translateY(-50%);
}

.cart-close i {
  width: 35px;
  height: 35px;
  font-size: 18px;
  line-height: 35px;
  border-radius: 50%;
  text-align: center;
  display: inline-block;
  color: var(--text);
  background: var(--white);
  text-shadow: var(--primary-tshadow);
  transition: all linear .3s;
}

.cart-close i:hover {
  color: var(--white);
  background: var(--primary);
}

.cart-list {
  height: 100%;
  padding: 0px 15px;
  max-height: calc(100vh - 140px);
  overflow-y: scroll;
}

.cart-item {
  padding: 15px 0px;
  display: flex;
  align-items: center;
  justify-content: center;
  align-items: flex-start;
  border-bottom: 1px solid var(--border);
}

.cart-item:hover .cart-media button {
  transform: scale(1);
}

.cart-item:last-child {
  border-bottom: none;
}

.cart-media {
  position: relative;
  margin-right: 25px;
}

.cart-media a img {
  width: 100px;
  border-radius: 8px;
}

.cart-media button {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  border-radius: 8px;
  background: rgba(0, 0, 0, 0.2);
  transform: scale(0);
  transition: all linear .3s;
}

.cart-media button i {
  width: 32px;
  height: 32px;
  font-size: 18px;
  line-height: 32px;
  text-align: center;
  border-radius: 5px;
  display: inline-block;
  color: red;
  background: rgba(255, 255, 255, 0.9);
  transition: all linear .3s;
}

.cart-media button i:hover {
  color: var(--white);
  background: red;
}

.cart-info-group {
  width: 100%;
}

.cart-info {
  margin-bottom: 13px;
}

.cart-info h6 {
  font-weight: 400;
  text-transform: capitalize;
}

.cart-info h6 a {
  color: var(--heading);
}

.cart-info p {
  font-size: 14px;
}

.cart-action-group {
  display: flex;
  align-items: center;
  justify-content: center;
  justify-content: space-between;
}

.cart-action-group .product-action {
  display: flex;
}

.cart-action-group .product-action button i {
  width: 30px;
  height: 30px;
  font-size: 12px;
  line-height: 30px;
  border-radius: 5px;
}

.cart-action-group .product-action input {
  width: 45px;
  height: 30px;
  font-size: 14px;
  border-radius: 5px;
  color: var(--primary);
  background: var(--chalk);
}

.cart-action-group h6 {
  font-weight: 500;
  color: var(--primary);
}

.product-action {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  align-items: center;
  justify-content: center;
  display: none;
}

.product-action button i {
  width: 35px;
  height: 35px;
  font-size: 14px;
  line-height: 35px;
  border-radius: 6px;
  text-align: center;
  display: inline-block;
  color: var(--text);
  background: var(--chalk);
  text-shadow: var(--primary-tshadow);
  transition: all linear .3s;
}

.product-action button i:hover {
  color: var(--white);
  background: var(--primary);
}

.product-action input {
  width: 100%;
  font-size: 15px;
  margin: 0px 5px;
  padding: 6px 0px;
  border-radius: 6px;
  text-align: center;
  color: var(--white);
  background: var(--primary);
  text-shadow: var(--primary-tshadow);
}

.table-shop .action-plus i,
.table-shop .action-minus i {
  background: var(--white);
}

.view-add-group .product-add,
.view-add-group .action-input {
  height: 46px;
  line-height: 46px;
  letter-spacing: 0.3px;
  text-transform: uppercase;
  color: var(--white);
  background: var(--primary);
}

.standard-action-group .product-add,
.standard-action-group .action-input {
  padding: 10px 0px;
  letter-spacing: 0.5px;
  text-transform: uppercase;
  color: var(--white);
  background: var(--primary);
}

.cart-footer {
  padding: 10px 15px 0px;
  text-align: center;
}

.cart-checkout-btn {
  padding: 5px 0px;
  border-radius: 8px;
  background: var(--primary);
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  transition: all linear .3s;
}

.cart-checkout-btn:hover {
  background: var(--heading);
}

.checkout-label {
  margin: 5px 10px;
  font-size: 15px;
  line-height: 30px;
  letter-spacing: 0.3px;
  text-align: center;
  text-transform: capitalize;
  color: var(--white);
}

.checkout-price {
  margin: 5px 10px;
  letter-spacing: 0.3px;
  color: var(--white);
}

@media (max-width: 450px) {
  .cart-sidebar {
    left: 0px;
    width: 100%;
    height: 100vh;
    transform: scale(0);
    margin: 80px 0px 0px;
    border-radius: 15px 15px 0px 0px;
    transition: all linear .3s;
  }

  .cart-sidebar.active {
    transform: scale(1);
    transform-origin: top;
  }

  .cart-close {
    left: 50%;
    top: -45px;
    bottom: inherit;
    transform: translateX(-50%);
    border-radius: 50px 50px 0px 0px;
    box-shadow: 0px -8px 10px 0px rgba(0, 0, 0, 0.15);
  }

  .cart-list {
    max-height: calc(100vh - 290px);
  }

  .cart-media a img {
    width: 80px;
  }
}

/******* CART SIDEBAR PART END  البوبب اللي بتظهر من الجنب *******/